
<app-header titulo="Segment"></app-header>

<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" color="tertiary">
    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>


    <ion-segment-button value="Marvel">
      <ion-label>Marvel</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Dc comics">
      <ion-label>Dc comics</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-toolbar>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let heroe of (superHeroes | async) | filtro: publisher">
        <ion-label>
          <h3> {{ heroe.superhero }} <small> {{ heroe.alter_ego }} </small>  </h3>
          <p>
            {{ heroe.first_appearance }}
          </p>
        </ion-label>
        <ion-label slot="end" text-right>
          {{ heroe.publisher }}
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
